/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/tests/coverage/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.openshift/secrets.env
.openshift/epam.env
psysh/*
gpm_clinicalgenome_org.csr
gpm_clinicalgenome_org.key
public/js/chunk-2d0e5e97.25ca8499.js.map

# built css & js
/public/css/*
/public/js/*
/public/service-worker.js
/public/precache*
/public/index.html

