/.openshift/secrets
/node_modules
/public/hot
/public/storage
/public/profile-photos
/storage/*.key
/vendor
/tests/coverage/*
/video
/scratch
/.docker/mysql/db-init
.env
auth.json
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.openshift/secrets.env
.openshift/epam.env
.config/psysh
psysh/*
gpm_clinicalgenome_org.csr
gpm_clinicalgenome_org.key
public/js/chunk-2d0e5e97.25ca8499.js.map
kafkaConsumedMessages.csv
consumed_messages/*

# things that php tools may add since HOME=/srv/app
.cache
.bash_history
.local
.config

.docker/mysql/db-init/*.sql.gz

# built css & js
# /public/css/*
# /public/js/*
# /public/service-worker.js
# /public/precache*
# /public/index.html
# /public/service-worker.js

